/* CSS BY Meseret Haile */
/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: 'inter', sans-serif;
    margin: 0 auto; /* centers it */
    background-color: #6b8fe7;
    width: 100%;
    max-width: 450px;
}
header, main, footer{
    background-color: #484fb7 ;
}
header{
    text-align: center;
    color: white;
    padding: 40px 20px;
}
header p {
    font-style: italic;
}
h1{
    font-size: 3em;
    padding-bottom: 10px;
}
.menu{
    background-color: #e9bb57;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 10px;
}
.menu h3 {
    color: black;
    text-transform: uppercase;
    font-style: italic;
}
.menu ul {
    margin-bottom: 20px;
}
.menu a {
    display: block;
    background-color: white;
    color: #484fb7;
    padding: 15px 20px;
    margin: 10px 20px ;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

p{
    padding-left: 10px;
}
h1, h2{
    font-family: 'kavoon', cursive;
    color: white;
    margin-left: 10px;
}
.services .pricing{
    margin: 8px;
}
.container{
    display: block;
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    padding: 20px;
    Line-height: 1.5;
}
h2{
    font-size: 2em ;
}
h3{
    color: #e9bb57;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
}

h4{
    font-size: 1.15em;
    color:#484fb7;
    padding: 10px;
}
img{
    padding: 4px;

}

.choose, .take{
    background-color: #d9526f;
    padding: 15px 8px 8px;
}

.choose ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 5px;
}

.choose li{
    display: block;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 40px 20px;
}

.choose li:nth-child(1) {
    background-color: #4ca7c0; 
}

.choose li:nth-child(2) {
    background-color: #6b8fe7;
}

.choose li:nth-child(3) {
    background-color: #e9bb57; 
}

.choose li:nth-child(4) {
    background-color: #fff; 
}
.pricing{
    padding: 20px 8px 8px;
}
table{
    background-color: #e9bb57;
    margin: 0 auto;
}
table, th, td{
    border: 2px solid #e9bb57;
}
th{
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
td{
    background-color: white;
    text-align: left;
    padding: 15px;
}

.take p{
    color: white;
    line-height: 1.5;
    padding: 8px 10px;
}

.schedule {
    display: block;               
    margin: 10px auto;            
    padding: 25px 130px;           
    background-color: #ffffff;    
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: none;                 
    border-radius: 18px;          
    box-shadow: 6px 6px 0 black
}

footer{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 8px;  
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 50px 80px;
    text-align: center;
  }
  footer a{ color: var(--white); opacity: .9; text-decoration: underline; }
