/* CSS BY Meseret Haile */
/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*root variables*/
:root{
    --teal: #4ca7c0;
    --purple: #484fb7;
    --lavender: #6b8fe7;
    --yellow: #e9bb57;
    --pink: #d9526f;
    --dk-gray: #1e1e1e;
    --white: #ffffff;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: 'inter', sans-serif;
    margin: 0 auto; /* centers it */
    background-color: var(--lavender);
    width: 100%;
    max-width: 450px;
}
header, main, footer{
    background-color: var(--purple) ;
}

/* header styles*/
header{
    text-align: center;
    color: var(--white);
    padding: 40px 20px;
}
header p {
    font-style: italic;
}
h1{
    font-size: 3em;
    padding-bottom: 10px;
}

/* Menu styles */
main > section:first-of-type {
    background-color: #e9bb57;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 10px;
}
main > section:first-of-type h3 {
    color: var(--dk-gray);
    text-transform: uppercase;
    font-style: italic;
}
main > ul {
    margin-bottom: 20px;
}
main a {
    display: block;
    background-color: var(--white);
    color: var(--purple);
    padding: 15px 20px;
    margin: 10px 20px ;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

p{
    padding-left: 10px;
}

/* styles for h1, h2 tags*/ 
h1, h2{
    font-family: 'kavoon', cursive;
    color: var(--white);
    margin-left: 10px;
}
main > section:nth-of-type(2), main > section:nth-of-type(4){
    margin: 8px;
}
div {
    display: block;
    background-color: var(--white);
    margin: 15px;
    border-radius: 20px;
    padding: 20px;
    Line-height: 1.5;
}
h2{
    font-size: 2em ;
}
h3{
    color: var(--yellow);
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
}

h4{
    font-size: 1.15em;
    color: var(--purple);
    padding: 10px;
}
img{
    padding: 4px;

}

main > section:nth-of-type(3), main > section:last-of-type{
    background-color: var(--pink);
    padding: 15px 8px 8px;
}

/*why choose us section styles*/
main > section:nth-of-type(3) ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 5px;
}

main > section:nth-of-type(3) li{
    display: block;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 40px 20px;
}

main > section:nth-of-type(3) li:nth-child(1) {
    background-color: var(--teal); 
}

main > section:nth-of-type(3) li:nth-child(2) {
    background-color: var(--lavender);
}

main > section:nth-of-type(3) li:nth-child(3) {
    background-color: var(--yellow); 
}

main > section:nth-of-type(3) li:nth-child(4) {
    background-color: var(--white); 
}
main > section:nth-of-type(4) {
    padding: 20px 8px 8px;
}

/* style for the tables*/
table{
    background-color: var(--yellow);
    margin: 0 auto;
}
table, th, td{
    border: 2px solid var(--yellow);
}
th{
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
td{
    background-color: var(--white);
    text-align: left;
    padding: 15px;
}

main > section:last-of-type p{
    color: var(--white);
    line-height: 1.5;
    padding: 8px 10px;
}

/*button styles*/
button {
    display: block;               
    margin: 10px auto;            
    padding: 25px 130px;           
    background-color: var(--white);    
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    border: none;                 
    border-radius: 18px;          
    box-shadow: 6px 6px 0 var(--dk-gray);
}

/*footer styles*/
footer{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 8px;  
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
    padding: 50px 80px;
    text-align: center;
    margin-bottom: 50px;
}

footer a{ 
color: var(--white); 
text-decoration: underline; 
}
